<style>
    table {border: 2px solid black}
    th{ border: 2px solid black}
    td {border: 2px solid black}
</style>

<h1>Cities</h1>
<form>
    <% city.forEach((city)=>{ %>
    <div>
        <label>City Code</label>
        <input
            readonly
            type= "text"
            value=<%= city.cty_code%>>
        </input>
    </div>
    <div>
        <label>City Name</label>
        <input
            readonly
            type= "text"
            value=<%= city.cty_name%>>
        </input>
    </div>
    <div>
        <label>Population</label>
        <input
            readonly
            type= "text"
            value=<%= city.population%>>
        </input>
    </div>
    <div>
        <label>By the Sea</label>
        <input
            readonly
            type= "text"
            value=<%= city.cty_code%>>
        </input>
    </div>
    <div>
        <label>Area (KM)</label>
        <input
            readonly
            type= "text"
            value=<%= city.areaKM%>>
        </input>
    </div>
    <br><br>
    <div>
        <label>Country Code</label>
        <input
            readonly
            type= "text"
            value=<%= city.co_code%>>
        </input>
    </div>
    <div>
        <label>Country Name</label>
        <input
            readonly
            type= "text"
            value=<%= city.co_name%>>
        </input>
    </div>
    <% }) %>
</form>
<a href="../">home</a>